
@model IEnumerable<VSZANAL.Models.UserFile>

<!DOCTYPE html>
<html>
<head>
    <title>Profile Page</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/HtmlStyles.css"/>
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="row">
                <div class="col-3-4">
                    <h1>Here you could Work with your Files: Add, Change, Delete and Sort, @ViewData["login"] !</h1>
                </div>
                <div class="col-1-4">
                    <img class="image" src="@ViewBag.Avatar" alt="profPic" />
                </div>
            </div>
            <div class="row">
                <div class="col-3-4">
                    
                </div>
                <div class="col-1-4">
                    <h3>Сменить аватар</h3>
                    <form asp-action="AddAvatar" asp-controller="Home" method="post" enctype="multipart/form-data">
                        <input type="file" name="uploads" accept="image/*" /><br>
                        <input type="submit" value="Загрузить" />
                    </form>
                </div>
                
                
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div class="col-1-2">
                </div>
                <div class="col-1-2">
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container">
            <div class="col-1-3"></div>
            <div class="col-1-3"></div>
            <div class="col-1-3"></div>
        </div>
    </footer>
</body>
</html>